<!DOCTYPE html>
{% load static pipeline %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Snorse as a Service{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        {% stylesheet 'base' %}

        {% block extra_css %}
        {% endblock %}
    </head>

    <body>
    {% block body %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'site-index' %}">Volunteer Database</a>
                <ul class="nav navbar-nav">
                    <li><a href="#">Link A</a></li>
                    <li><a href="#">Link B</a></li>
                </ul>
            </div>
        </nav>
        <div class="main-content">
            {% block content_wrapper %}
            {% endblock content_wrapper %}
        </div>

        {% javascript 'base' %}

        {% block extra_javascript %}
        {% endblock %}
    {% endblock body %}
    </body>
</html>
